.btn:hover{
 background-color: white;
 border-color: green;
 font-weight: bolder;
}

.btn{
  color: white;
  background-color: orangered;
  
  border-color: wheat;
  /* padding: 5px; */
  margin: 10px;
  width: 130px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  
  
}
body{
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  margin-left: 0;
  align-items: center;
  padding-top: 10px;
   background-color: rgb(165,161,165);

}
.content{
  flex: 1;
}
.row {
  padding: 20px;
}
